*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ; */
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

/* .section{
  width: 600px;
  height: 500px;
} */
.col{
  background-color: #fff;
  box-shadow: #00000059 0px 5px 15px;
  width: 100%;
  /* height: 200px; */
 
  padding: 5px;
  border-radius: 50px;
}
.box{
  display: inline-block;
  padding: 0 5px;
}
.first{
  border-right: 2px solid #E8DFCA;
}
input[type=number]{
  border: none;
outline: none;
  font-size: 20px;
  padding: 10px 0px;
  width: 50px;
  color: #153448;
}
textarea{
  border: none;
  border-radius: 3px;
  outline: none;
  resize: vertical;
  padding: 10px;
  border-radius: 40px;
  width: 100%;
  height: 350px;
}
button{
  border: none;
  font-size: 25px;
  font-weight: 300;
  padding: 10px 16px ;
  color: #153448;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
}
button:hover{
  background: #40557d1a;
}
button:focus{
  background: #73b1e333;
  color: #5271ff;
}
.third{
  border: #E8DFCA;
}
.third button:focus{
  background: #73b1e333;
  color: #5271ff;
}


.box1 {
  height: 350px;
  width: 600px;
  background-color: lightblue;
  border-radius: 20px;
  text-align: center;
  margin-top: 100px;
}
/* .btn {
  border: none;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 16px ;
  color: #153448;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn:hover {
  background-color: black;
  color: whitesmoke;
}


.head {
  text-align: center;
  margin: 15px;
}

.para{
  text-align: center;
}

.navbar{

} */